@charset "utf-8";
header {
    width: auto;
    background-color: #141418;
    height: 300px;
    margin-left: auto;
    color: #FFFFFF;
    text-align: center;
}
footer {
    height: 300px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    text-align: center;
}

main {
	height: 1000px;
	background-color: #FAC5EE;
	margin-right: auto;
	text-align: center;
	border-width: medium;
}
.container {
}
nav {
	background-color: #ECB1E1;
	margin-left: 300px;
	margin-right: 300px;
	color: #000000;
	text-shadow: 0px 0px #000000;
}
